.posDiv{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

.splitCheckView{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.splitCheck{
    border: 1px solid black;
    width: 40%;
    background-color: lightgray;
}

.splitHeader{
   
}

.splitBackBtn{
    border:1px solid black;
    border-radius: 5px;
    width: 6%;
    padding: 5px;
    margin: 5px;
}

.splitItmClicked{
    background-color: aqua;
}


@media(max-width:600px){

    .posDiv{
        display: flex;
        flex-direction: column;
    }
}