.chItmDiv{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.chItmDivClicked{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    padding-top: 5px;
    padding-bottom: 5px;

}

.sentChItm{
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 228, 228);
    padding-top: 5px;
    padding-bottom: 5px;
}

.sentChItmOdd{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 240, 240);
    padding-top: 5px;
    padding-bottom: 5px;
}

.itmColumn{
    width: 30%;
}

.itmColumn2{
    width: 20%;
}

.itmColumn3{
 width: 15%;
}

