.checkView{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 50vw;
    border-right: 3px solid black;
}

.checkViewSubDiv{
    overflow: auto;
}

.checkViewButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 25px;
}

.sendBtn{
    cursor: pointer;
    background-color: #beade0;
    padding: 15px;
    border-radius: 5px;
}

.splitBtn{
    cursor: pointer;
    background-color: #beade0;
    padding: 15px;
    border-radius: 5px;
}

.payBtn{
    cursor: pointer;
    color:white;
    background-color: #2784d6;
    padding: 15px;
    border-radius: 5px;
}

/* .checkViewButtons div{
    cursor: pointer;
    background-color: #beade0;
    border: 1px solid black;
    margin-left: 30px;
    padding: 15px;
    border-radius: 5px;
} */

.checkViewButtons div:hover{
    color: black;
    background-color: lightpink;
}

.checkItemsHeader{
    display: flex;
    flex-direction: row;
}

.checkItemsLabel1{
    width: 30%;
}

.checkItemsLabel2{
    width: 20%
}

.checkItemsLabel3{
    width: 15%;
}

.checkTabsDiv{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addCheckButt{
    /* border: 1px solid black; */
    cursor: pointer;
    background-color: #b19ae0;
    width: 20%;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.addCheckButt:hover{
    background-color: #beade0;
}

.checkTab{
    /* border: 1px solid black; */
    cursor: pointer;
    background-color:rgb(212, 212, 210);
    border-radius: 5px;
    margin:5px;
    padding:10px;
}

.checkTab:hover{
    background-color:lightpink;
}

.checkTabClicked{
    cursor: pointer;
    background-color: lightpink;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin:5px; 
    padding: 10px;
}

@media(max-width:600px){

    .checkView{
        height: 50vh;
        width: 100%;
    }

    .checkViewButtons{
        padding: 5px;
    }

}